<%- include('partials/prologue.ejs', {title: `${profile.name} MBTI | Boo Personality Database`, url: profile.url, description: `What is ${profile.name}'s MBTI personality type? Find out what ${profile.name}'s Myers Briggs, Enneagram, and Zodiac sign are in the Soulverse, the MBTI personality database of celebrities and fictional characters.`}) %>

                <div class="row sqs-row">
                  <%- include('partials/categories.ejs', {categories: categories, highlighted_categories: profile.categories}) %>
                  <div class="col sqs-col-10 sqs-col-page">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-2e6206ba777e9c6841a8">
                      <div class="sqs-block-content">
                        <h2 class="name"><%= profile.name %> <span style="color: #4edcd8; font-weight: bold">MBTI</span>
                        </h2>
                        <% profile.subcategories.forEach(function(subcategory) {
                          %><div class="bubble">
                            <p style="font-size: 1em; margin: 0px 0px 0px 0px;" class=""><a style="margin: 0px 0px 0px 0px; text-decoration: none" href="<%= subcategory.url %>"><%= subcategory.name %></a></p>
                          </div><%
                          });
                        %>
                      </div>
                    </div>
                    <div class="row sqs-row">
                      <div class="col sqs-col-photo">
                        <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="136.28691983122363" data-block-type="5" id="block-1f47fbbe7cae8fdeba8c">
                          <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-site-default individual-animation-site-default individual-text-animation-site-default" data-test="image-block-inline-outer-wrapper">
                              <noscript>
                                <img class="picture" src="<%= profile.image %>" alt="<%= profile.image %>" />
                              </noscript>
                              <img class="thumb-image picture" data-src="<%= profile.image %>" data-image="<%= profile.image %>" data-image-dimensions="" data-image-focal-point="0.5,0.5" alt="<%= profile.image %>" data-load="false" data-image-id="60ba7def6ab3a1722eeb654b" data-type="image" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col sqs-col-trait">
                        <div class="row sqs-row">
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">MBTI</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.mbti %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Enneagram</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.enneagram %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Instinctual Variant</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.variant %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Tritype</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.tritype %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Socionics</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.socionics %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Big 5 Sloan</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.sloan %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Attitudinal Psyche</p>
                              <p class="trait-font center" style="height: 40%"><%= profile.psyche %></p>
                            </div>
                          </div>
                          <div class="col sqs-col-sub-trait">
                            <div class="trait">
                              <p class="center" style="height: 25%; line-height: 1">Temperament</p>
                              <div class="trait-font-special center" style="height: 40%"><%= profile.temperaments %></div>
                              <!-- <p class="trait-font-special"><%= profile.temperaments %></p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722d8e328e16b8">
                      <div class="sqs-block-content">
                        <p class="" style="white-space:pre-wrap; font-weight: 400; font-size: 14px;"><%= profile.description %>
                        </p>
                      </div>
                    </div>
                    <!-- comment section start--->
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8d8156722n9e328e16b9">
                      <div class="sqs-block-content comment-head">
                         <h3>Comments</h3>
                      </div>
                      <div class="sqs-block-content comment-button">
                        <div class="bubble" id="comment-button" onclick="myFunction()">
                           <p style="font-size: 12px; margin: 8px 0px 8px 0px;" class=""><a style="margin: 0px 0px 0px 0px; text-decoration: none; padding: 11px 11px; color: #fff;" href="javascript:void(0)">VOTE/COMMENT</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-83e156722n9e328e18b9">
                      <div class="sqs-block-content cagegories-link">
                         <p><a href="/">All</a> <a href="/">MBTI</a> <a href="/">Anneagram</a> <a href="/">Zodiac</a></p>
                      </div>
                    </div>

                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-83s312722n9e328e18b4">
                      <div class="sqs-block-content comment-box">
                        <div class="col">
                          <div class="comment-trait">
                            <p class="cmt-profile"><img src="https://png.pngitem.com/pimgs/s/482-4821503_vernon-unsworth-png-download-elon-musk-smile-transparent.png" alt="cmt-profile"> <label>Elon Musk</label></p>
                            <p class="cmt-box" style="margin:0px"><label>Title</label></p>
                            <input type="text" name="title" class="title-elem-js" id="cmt-title-box">
                            <textarea name="description" class="des-elem-js" id="cmt-des-box"></textarea>
                            <button class="cmt-submit" disabled id="form_id">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <% if(cookies.cmt) { %>
                    <% JSON.parse(cookies.cmt).forEach((_cmt , row_id) => { // add JSON.parse into try/catch %>
                      <div class="sqs-block html-block sqs-block-html" data-block-type="<%= row_id ;%>" id="block-83s312722n9eK7u5e67r">
                      <div class="sqs-block-content comment-box">
                        <div class="col">
                          <div class="comment-trait">
                            <p class="cmt-profile"><img src="https://png.pngitem.com/pimgs/s/482-4821503_vernon-unsworth-png-download-elon-musk-smile-transparent.png" alt="cmt-profile"> <label>Elon Musk</label></p>
                            <p class="cmt-box" style="margin:0px"><label><%= _cmt.title;%></label></p>
                            <p class="cmt-desc"><%= _cmt.description;%></p>
                            <p><i style="color:#6B6A6A;" class="fa fa-heart" aria-hidden="true"></i>&nbsp;<span class="count-like" style="font-size:14px; font-weight:400; color:#6B6A6A;">79</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% })    %>

                    <% } %>


                  </div>
                </div>
                <!--<pre><%= JSON.stringify(cookies); %></pre> -->
<script type="text/javascript">


window.addEventListener('load', (event) => {
    let user = getCookie("cmt");
    if (user != "") {
      console.log("Welcome again " + user);
    } else {
       if (user == "" ) {
         setCookie("cmt", user, 30);
       }
    }
});

 function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

//const submitForm = document.getElementById("form_id");
document.querySelector("#form_id").addEventListener("click" , ()=>{
 
  const titleElem = document.getElementById("cmt-title-box")
  const decriptionElem = document.getElementById("cmt-des-box");

  const titleStr = titleElem.value
    const decriptionStr = decriptionElem.value
    let comments = getCookie("cmt");

     try{
      comments = JSON.parse(comments)
    }catch(err){

    }

    if(comments == ""){
      comments = [{title:titleStr , description:decriptionStr}];
    }else{
      comments.push({title:titleStr , description:decriptionStr});
    }

    document.cookie =`cmt=${JSON.stringify(comments)} `// added in cookie
    window.location.reload();// to reload

});

document.querySelector(".title-elem-js").addEventListener("keyup" , ()=>{
  //change color
  let x = document.getElementsByClassName("cmt-submit")[0];
    let inputValue = document.getElementsByClassName("title-elem-js")[0].value; 
    if(inputValue.length > 0){
      x.style.background = "#4EDCD8";
      x.removeAttribute("disabled", "disabled");
    } else {
      x.style.background = "";
      x.setAttribute("disabled", "disabled");
    }

});

document.querySelector(".des-elem-js").addEventListener("keyup" , ()=>{
  //change color
  let x = document.getElementsByClassName("cmt-submit")[0];
    let inputValue = document.getElementsByClassName("des-elem-js")[0].value; 
    if(inputValue.length > 0){
      x.style.background = "#4EDCD8";
      x.removeAttribute("disabled", "disabled");
    } else {
      x.style.background = "";
      x.setAttribute("disabled", "disabled");
    }

});

function myFunction() {
  var x = document.getElementById("block-83s312722n9e328e18b4");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
const likeHandler =  (evt)=>{
   let element = evt.target; 
        let count = element.parentElement.querySelector(".count-like");
        let like = parseInt( count.innerText);
    if(element.style.color == "rgb(107, 106, 106)"){
        element.style.color = "#4EDCD8"
        
        like += 1;
        
        //alert(like);
        //document.getElementsByClassName("count-like")[0].text = like + 1;
        
    } else {
      like -= 1;
        element.style.color = "#6B6A6A"
    }

    count.innerText = `${like}`

}
Array.from(document.querySelectorAll(".fa-heart")).forEach(elem => elem.addEventListener("click" , likeHandler))

</script>

<%- include('partials/epilogue.ejs') %>
